<h1>Your chosen list: <%= @list.title %></h1>

<h2>Get the below done STAT!!</h2>

<h1> Add a new task here </h1>

  <div>
    <%= form_for(@task) do |f| %>
		<%= f.hidden_field :list_id %>
      	<%= f.hidden_field :completed %>
      	<%= f.label :item, "Task:" %>
      	<%= f.text_field :item %>
      	<%= f.submit "Create Task", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

<h3> If we were going to let you edit your tasks, you'd edit your tasks here </h3>

<ol>
	<% @list.tasks.each do |task|  %>
	<li>
		<%= task.item %>
		  -  
			  <% if task.completed %>
				completed

				<% else %>
				not done yet

			<% end %>
			<%= link_to "toggle status", task_path(task), :method => :put %>
			<%= link_to " x ", task_path(task), :method => :delete %>
		<% end %>
	</li>
</ol>

<%= link_to	"Back to List Land", lists_path %>
